/* Css Reset */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  text-decoration: none;
  /* color: var(--txt-light); */
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
body {
  background-color: var(--color-light);
}
