/* Css Variables */
/* Defining all the main variables in root */
:root {
  /* colors */
  --color-primary: #388087;
  --color-secondary: #6fb3b8;
  --color-secondary-light: #badfe7;
  --color-light: #f6f2f2;
  --txt-dark: #333;
  --txt-light: #f8f9ff;
  /* padding and margin */
  /* --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 1.5rem;
  --padding-extra-large: 2rem;
  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 1.5rem;
  --margin-extra-large: 2rem; */
  --container-width: 90%;
  /* font-size */
  /* --txt-small: 1rem;
  --txt-medium: 2rem;
  --txt-large: 3rem;
  --txt-ex-large: 4rem; */
  /* Screen size */
  /* Mobile(xs),Tablet(sm),Laptop(lg) */
  --xs: 480px;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;
  /* Typography */
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;
  /* border-radius */
  --border-s: 5px;
  --border-m: 10px;
  --border-l: 15px;
  --border-circle: 999px;
}

/* Css Reset */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: var(--txt-light); */
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
body {
  background-color: var(--color-light);
}

/* padding */

/* margins */

/* text-align */

.txt-center {
  text-align: center;
}

/* Navbar  */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary);
  width: 100%;
  color: var(--txt-light);
  font-weight: 700;
}

.navbar-brand {
  font-size: 3.5rem;
  margin: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
}
.navbar-links-container {
  font-size: 1.5rem;
}

.navbar-links-container ul {
  display: flex;
  justify-content: space-between;
}

.navbar-links-container ul li a {
  display: block;
  padding: 1rem;
  font-size: 2rem;
}
.navbar-links-container ul li a:hover {
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  transition: all 0.5s;
  color: var(--txt-dark);
}
/* hamburger */

.hamburger {
  position: absolute;
  display: none;
  top: 1.2rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 3rem;
}
.hamburger .bar {
  width: 100%;
  height: 0.4rem;
  background-color: var(--txt-light);
}

/* header */

.hero {
  padding: 2rem;
  padding-top: 5rem;
}

.hero .hero-img {
  max-width: 80%;
  width: 35rem;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--color-primary);
  font-size: 5.5rem;
}
.hero h2 {
  text-align: center;
  padding-top: 1rem;
  color: var(--color-primary);
  font-size: 3rem;
}
.hero p {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
  color: var(--color-secondary);
  width: 50%;
  margin: auto;
}

/** sections **/

.section {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 1rem;
  text-align: center;
}

.section h1 {
  text-align: center;
  color: var(--color-primary);
  font-size: 3rem;
}

.ow {
  background-color: var(--off-blue);
}

.section p {
  line-height: 27px;
  /* width:49rem; */
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.section button {
  color: #333;
  font-weight: bolder;
  background: var(--color-primary);
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  width: 12rem;
  margin: auto;
  border-radius: var(--border-m);
  overflow: hidden;
  font-size: 1.5rem;
  border: 2px solid transparent;
}
/* about */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-top: 2rem;
}
.about img {
  max-width: 80%;
  width: 40rem;
  display: block;
  margin: auto;
}
.about .about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

/* footer */
/** footers **/

.footer {
  background-color: #0b4449;
  padding: 1.5rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer .footer-container > *:last-child {
  background-color: transparent;
  grid-column: 1 / span2;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 2rem;
}
.footer .footer-container span {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* utilities classes */
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 900px;
  width: 100%;
  margin: auto;
}
/* margins */
/* margin-top */
.mt-1 {
  margin-top: 1rem;
}
.ml-l {
  margin-left: 1rem;
}
.ml-2 {
  margin: 0 1.3rem;
}

/* media queriess */
/* for mobile */
/* navbar  for screen > 600px*/
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .hamburger {
    display: flex;
  }
  .navbar-links-container {
    display: none;
    width: 100%;
  }
  .navbar-links-container ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links-container a {
    padding: 0.5rem;
  }
  .navbar-links-container.active {
    display: flex;
  }
}
