@import url("../../css/style.css");
@import url("../../css/encore.css");

/* navbar  for screen > 600px*/
@media only screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 81.2rem;
  }
  .hamburger {
    display: flex;
    top: 106.8rem;
    right: -24rem;
  }
  .navbar-links-container {
    display: none;
    width: 100%;
  }
  .navbar-links-container ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links-container a {
    padding: 0.5rem;
  }
  .navbar-links-container.active {
    display: flex;
  }
}
@media only screen and (max-width: 425px) {
  .hamburger {
    display: flex;
    top: 106.8rem;
    right: -57rem;
  }
}
