.alert-container {
  width: 90%;
}
.alert {
  width: 100%;
  padding: 1.5rem;
  position: relative;
  border-left: 0.8rem solid #bababa;
  background: #ededed;
  color: #a1a1a1;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 1.6rem;
  align-content: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-weight: bold;
}
.alert .alert-icon {
  margin-right: 1rem;
}
.alert .alert-content {
  width: 100%;
  font-weight: bolder;
}
.alert .alert-close {
  margin-left: 1rem;
}

.alert-danger {
  border-color: var(--color-danger);
  background: #ffe0e3;
  color: var(--color-danger);
}

.alert-success {
  border-color: var(--color-success);
  background: #b4e0c6;
  color: var(--color-successs);
}
.alert-info {
  border-color: var(--color-secondary);
  background: #d7f0ff;
  color: var(--color-secondary);
}

.alert-dark {
  border-color: var(--color-dark);
  background: #4d4d4d;
  color: var(--color-light);
}

.alert-warning {
  border-color: var(--color-warning);
  background: #d8e7b5;
  color: var(--color-warning);
}
