.alert-container {
  width: 90%;
  border: 2px solid var(--color-primary);
}
.alert {
  width: 90%;
  padding: 1.5rem;
  position: relative;
  border-left: 0.8rem solid var(--color-grey);
  background: var(--color-secondary-light);
  color: var(--alert-txt-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 1.6rem;
  align-content: center;
  margin: 2rem;
  font-weight: bold;
}
.alert .alert-icon {
  margin-right: 1rem;
}
.alert .alert-content {
  width: 100%;
  font-weight: bolder;
}
.alert .alert-close {
  margin-left: 1rem;
}

.alert-danger {
  border-color: var(--color-danger);
  background: var(--alert-danger-light);
  color: var(--color-danger);
}

.alert-success {
  border-color: var(--color-success);
  background: #b4e0c6;
  color: var(--color-successs);
}
.alert-info {
  border-color: var(--color-secondary);
  background: var(--alert-success-light);
  color: var(--color-secondary);
}

.alert-dark {
  border-color: var(--color-dark);
  background: var(--alert-dark);
  color: var(--color-light);
}

.alert-warning {
  border-color: var(--color-warning);
  background: var(--alert-warning-light);
  color: var(--color-warning);
}
