@import url(../css/variables.css);

.btn {
  color: var(--txt-light);
  background: var(--color-primary);
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 12rem;
  margin: 0 2rem;
  border-radius: var(--border-m);
  overflow: hidden;
  font-size: 1.5rem;
  border: 2px solid transparent;
}
.btn:hover {
  /* transition: all 1s; */
  opacity: 0.9;
  /* color: #10b981; */
}
.btn-small {
  width: 6rem;
  padding: 0.5rem;
}
.btn-large {
  width: 18rem;
  padding: 2rem;
  font-size: 3rem;
}
.btn-primary {
  background-color: #ff584f;
}
.btn-secondary {
  background-color: #2563eb;
}
.btn-danger {
  background-color: #dc2626;
}
.btn-success {
  background-color: #10b981;
}
.btn-light {
  background-color: var(--bg-white);
  color: var(--txt-dark);
}
.btn-dark {
  background-color: var(--bg-dark);
  color: var(--txt-light);
}
.btn-outline {
  background-color: transparent;
  border-color: #ff584f;
  color: var(--txt-dark);
}
.btn-outline:hover {
  background-color: #ff584f;
  transition: all 0.5s;
  color: var(--txt-light);
}
.btn-floating {
  border-radius: var(--border-circle);
  padding: 0.5rem;
  width: 3rem;
}
.btn-floating-danger {
  border-radius: var(--border-circle);
  padding: 0.5rem;
  width: 3rem;
  background-color: #dc2626;
}
