.card-container {
  display: grid;
  gap: 1.5rem;
  border: 2px solid var(--color-primary);
  width: 90%;
}

.card-text {
  padding: 2rem;
  border-radius: 1rem;
  min-height: 22rem;
  margin: 1rem;
}

.card-text h3 {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 2px solid var(--txt-dark);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.card-container .card-text p,
.card-container .image-card p {
  font-size: 1.8rem;
}

.card {
  min-width: 22rem;
  margin: 2rem auto;
  border: 3px solid var(--card-border-color);
  padding: 1rem 0;
  border-radius: 10px;
  padding: 0.6rem;
}

.image-card {
  position: relative;
  margin: 1rem;
}
.image-card i {
  position: absolute;
  top: 2px;
  right: 0;
}

.dismiss {
  display: none;
}
.image-badge {
  position: relative;
}
.image-badge i {
  position: absolute;
  top: 117px;
  right: 13px;
  color: var(--txt-light);
}
.image-badge i:hover {
  color: var(--color-danger);
}

.card-overlay {
  width: 80%;
  min-height: 20vh;

  position: relative;
}
.text-overlay {
  width: 97%;
  height: 95%;
  position: absolute;
  top: 5px;
  left: 6px;
  color: var(--txt-light);
  background-color: rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-overlay i:hover {
  color: var(--color-secondary);
}

.horizontal-card {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 1rem;
  margin: 1rem;
  position: relative;
}
.horizontal-card .card-image {
  width: 15rem;
  height: 12rem;
  margin-right: 1rem;
}
.horizontal-card .card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.horizontal-card i {
  position: absolute;
  top: 10px;
  right: 17px;
  color: var(--color-primary);
}
.card-details {
  display: flex;
}

.cards-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.cards-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
