.list-container {
  width: 90%;
  border: 2px solid var(--color-secondary);
}

.spaced-list {
  list-style: none;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--color-secondary);
  font-size: 1.9rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  text-align: center;
  flex-grow: 1;
}
.stacked-list {
  list-style: none;
  width: fit-content;
}

.spaced-list-item:hover,
.stacked-list-item:hover {
  background-color: var(--color-primary);
}
