.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-dark);
  width: 100%;
  background-color: var(--bg-secondary);
}
.navbar-brand {
  font-size: var(--txt-large);
  margin: var(--margin-small);
  cursor: pointer;
  padding: 0.5rem;
}
.navbar-links-container {
  font-size: var(--txt-medium);
}

.navbar-links-container ul {
  display: flex;
  justify-content: space-between;
}

.navbar-links-container ul li:hover {
  background-color: var(--bg-sand);
  border-radius: 0.5rem;
}
.navbar-links-container ul li a {
  display: block;
  padding: var(--padding-medium);
}
.navbar-links-container ul li a:hover {
  color: var(--txt-dark);
}
/* hamburger */
.hamburger {
  position: absolute;
  display: none;
  top: 0.75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 3rem;
}
.hamburger .bar {
  width: 100%;
  height: 0.4rem;
  background-color: var(--bg-white);
}

/* navbar  for screen > 600px*/
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .hamburger {
    display: flex;
  }
  .navbar-links-container {
    display: none;
    width: 100%;
  }
  .navbar-links-container ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links-container a {
    padding: 0.5rem;
  }
  .navbar-links-container.active {
    display: flex;
  }
}
